.footer {
    background-color: #f7f3f3;
    /* background-color: #25262C; */
    color: #0d0227;
  }
  
  .footer p {
    font-size: 16px;
    color: #0d0227;
    /* color: #0d0227; */
  }
  
  .footer h5 {
    font-size: 18px;
    color: #0d0227;
    font-weight: bolder;
  }
  
  .footer h6 {
    font-size: 16px;
    color: #0d0227;
  }
  .footer h6:hover {
    color: black;
    cursor: pointer;
    transition: 0.3s all linear;
  }
  
  .down {
    padding: 60px 0;
  }
  
  .copyright {
    text-align: center;
  }

  .socials a{
    font-size: 32px;
    margin-right: 10px;
  }
  .socials a:hover{
    color: #0d0227;
  }