.purchase-form input, .review-form input, .review-form textarea{
    width: 100%;
    margin-bottom: 20px;
    border: none;
    font-size: 18px;
    color: #06A3DA;
    border-bottom: 2px solid #06A3DA;
}

.review-form input, .review-form textarea{
    border-bottom: 2px solid black;
}

.purchase-form{
    width: 70%;
    border: none;
    margin-top: 10px;
    padding: 20px;
}

.review-form{
    border: none;
}

.purchase-form input:focus, .review-form input:focus, .review-form textarea:focus{
    border: none;
    border-bottom: 2px solid #06A3DA;
    outline: none;
}

.purchase-btn, .review-btn{
    background-color: #06A3DA !important;
}

@media only screen and (max-width:688px) {
    .purchase-form{
        width: 95%;
    }

    .small-pic{
        display: none;
    }
}