.card-title{
    font-size: 24px;
    font-weight: 600;
}

.text-gray{
    color: gray;
}

.customized-card, .all-product-card{
    border: none;
}

.card-body{
    padding-bottom: 6px;
}

.customized-card:hover{
    background-color: #421f96;
    transform: translateY(-10px);
    color: white;
}

.customized-card:hover .customized-card-footer{
    background-color: #421f96;
    border: none;
}

.customized-card-img{
    transition: 0.25s all linear;
}

.customized-card{
   overflow:hidden;
   transition: 0.3s all linear;
}

.customized-card-img{
    overflow: hidden;
}

.customized-card:hover .customized-card-img{
    transform: scale(1.1);
}

.card-body p{
    font-size: 16px;
    margin-bottom: 0;
}

.card-footer{
    background: white;
    padding: 0 10px;
    border: none;
}

.fa-star{
    /* color: gold; */
    color: #F65B47;;
}

.rating-text{
    font-size: 15px;
}

.colored-text{
    color:  #421f96;
}

.customized-btn2{
    background: #421f96;
    border: 2px solid #421f96;
}
.customized-btn2:hover{
    background: #421f96;
    border: 2px solid #421f96;
}