.heading h1{
    color: #06A3DA;
    margin-bottom: 2px;
    
}

.heading-color{
    color: #06A3DA;
}

.heading p{
    margin: 5px 0;
    letter-spacing: 0.15rem;
    font-size: 18px;
}

.upper-underline{
    width: 180px;
    height: 2px;
    background: black;
    margin: 0 auto;
}

.middle-underline{
    width: 150px;
    height: 2px;
    background: black;
    margin: 2px auto;
}

.lower-underline{
    width: 120px;
    height: 2px;
    background: black;
    margin: 2px auto;
}